.splashScreen{
    background: lightcoral;
    width: 650px;
    height: 650px;
    border: 1px solid coral;
    background: url('assets/splashScreen.png') no-repeat
}


.splashScreen-1{
    background-position-x: 0;
}

.splashScreen-2{
    background-position-x: -650px;
}

.tablero{
    width: 650px;
    height: 650px;
    border: 1px solid coral;
    background: url('assets/tablero.png') no-repeat
}

.celda{
    width: 50px;
    height: 50px;
    float: left;
}

.pared{
    background: url('assets/objetos/Crate.png') no-repeat
}

.piedra{
    background: url('assets/objetos/Stone.png') no-repeat
}

.arbusto{
    background: url('assets/objetos/Bush.png') no-repeat
}

.seta{
    background: url('assets/objetos/Mushroom.png') no-repeat
}

.personaje{
    background: url('assets/redhatfiles/png/personaje.png') no-repeat
}

/* .bomba{
    background: url('assets/objetos/bomba.png') no-repeat no la encuentro
} */